/* importando fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* zerando html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* configurando css */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cor-text-primary: #fff;
    --cor-text-secondary: rgb(90, 90, 97);
    --background-nav: rgb(4, 5, 23);
    --background-content: rgb(17, 19, 41);
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

/* menu esquerdo */
body {
    display: flex;
    width: 100vw;
}

.nav-main {
    height: 100vh;
    width: 20%;
    background-color: var(--background-nav);
    justify-content: space-around;
    align-items: center;
}

.nav-main .profile {
    align-self: flex-start;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.nav-main .profile .image-profile {
    width: 8rem;
    height: 8rem;
    border-radius: .5rem;
    overflow: hidden;
}

#image-profile {
    width: 100%;
    position: relative;
    bottom: 1rem;
}

.nav-main .description .name-profile {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-text-primary);
    width: 10rem;
}

.nav-main .description .config-profile,
.nav-main .menu-item {
    font-size: 1.5rem;
    color: var(--cor-text-secondary);
    cursor: pointer;
}

.nav-main .menus{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.nav-main .nav-menu1,
.nav-main .nav-menu2 {
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 50%;
    padding-top: 2rem;
    border-top: .1rem solid var(--cor-text-secondary);
}

.nav-main .menus i{
    display: inline-block;
    margin-right: 1rem;
}

.nav-main .nav-menu1 .selected,
.nav-main .menu-item:hover,
.nav-main .description .config-profile:hover {
    color: var(--cor-text-primary);
}

/* conteudo - area de perquisa */

.content {
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 3rem 0 7rem;
    background-color: var(--background-content);
    width: 80%;
}

#search {
    width: 30rem;
    background-color: transparent;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    outline: none;
    color: var(--cor-text-primary);
}

.icon-search {
    color: var(--cor-text-secondary);
    font-size: 1.5rem;
}

.content .title-playlists {
    font-size: 2rem;
    font-weight: bold;
    margin: 4rem 0 1rem 0;
    color: var(--cor-text-primary);
}

.content .playlists {
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: 30rem;
    margin-bottom: 4rem;
}

.content .playlists .playlist-item {
    height: 100%;
    margin: 0 1rem;
    cursor: pointer;
}

.content .playlists .playlist-item .image {
    height: 85%;
    border-radius: 2rem;
    overflow: hidden;
}

.content .playlists .playlist-item .image img {
    height: 100%;
}

.content .playlists .playlist-item .description {
    height: 15%;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--cor-text-primary);
    padding-top: 1rem;
}

::-webkit-scrollbar {
    height: 1rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(32, 15, 86);
    border-radius: 1rem;
}