/* importando fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* zerando html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* configurando css */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cor-text-primary: #fff;
    --cor-text-secondary: rgb(90, 90, 97);
    --background-nav: rgb(4, 5, 23);
    --background-content: rgb(17, 19, 41);
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

/* menu esquerdo */
body {
    display: flex;
    width: 100vw;
}

.nav-main {
    height: 100vh;
    width: 20%;
    background-color: var(--background-nav);
    justify-content: space-around;
    align-items: center;
}

.nav-main .profile {
    align-self: flex-start;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.nav-main .profile .image-profile {
    width: 8rem;
    height: 8rem;
    border-radius: .5rem;
    overflow: hidden;
}

#image-profile {
    width: 100%;
    position: relative;
    bottom: 1rem;
}

.nav-main .description .name-profile {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-text-primary);
    width: 10rem;
}

.nav-main .description .config-profile,
.nav-main .menu-item {
    font-size: 1.5rem;
    color: var(--cor-text-secondary);
    cursor: pointer;
}

.nav-main .menus{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.nav-main .nav-menu1,
.nav-main .nav-menu2 {
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 50%;
    padding-top: 2rem;
    border-top: .1rem solid var(--cor-text-secondary);
}

.nav-main .menus i{
    display: inline-block;
    margin-right: 1rem;
}

.nav-main .nav-menu1 .selected,
.nav-main .menu-item:hover,
.nav-main .description .config-profile:hover {
    color: var(--cor-text-primary);
}

/* conteudo - area de perquisa */
.content {
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 3rem 0 7rem;
    background-color: var(--background-content);
    width: 80%;
}

#search {
    width: 30rem;
    background-color: transparent;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    outline: none;
    color: var(--cor-text-primary);
}

.icon-search {
    color: var(--cor-text-secondary);
    font-size: 1.5rem;
    cursor: pointer;
}

.content .title-playlists {
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0 1.5rem 0;
    color: var(--cor-text-primary);
}

.content .playlists {
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
}

.content .playlists .playlist-item {
    height: 100%;
    margin: 0 1rem;
    cursor: pointer;
}

.content .playlists .playlist-item .image {
    height: 85%;
    width: 35rem;
    border-radius: 2rem;
    overflow: hidden;
}

.content .playlists .playlist-item .image img {
    height: 100%;
    transition: all .2s linear;
    opacity: 0.5;
}

.content .playlists .playlist-item .image img:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
}

.content .playlists .playlist-item .description {
    height: 15%;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--cor-text-primary);
    padding-top: 1rem;
}

::-webkit-scrollbar {
    height: 1rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(32, 15, 86);
    border-radius: 1rem;
}

/* conteúdo - perfis */
.bottom-side {
    width: 100%;
}

.profiles {
    width: 50%;
    gap: 1rem;
}

.profiles .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-text-primary);
}

.profiles .profiles-item {
    width: 80%;
    height: 6rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: var(--cor-text-secondary);
    transition: all .2s linear;
    cursor: pointer;
}

.profiles .profiles-item:hover {
    opacity: 1;
    color: var(--cor-text-primary);

}

.profiles .profiles-item .image {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 1rem;
}

.profiles .profiles-item .image img {
    width: 100%;
}

.profiles .profiles-item .description {
    height: 5rem;
    width: 20rem;
    padding: .5rem 0;
    margin-left: 1rem;
}

.profiles .profiles-item .description .name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.profiles .profiles-item .description .time,
.profiles .profiles-item .infos {
    font-size: 1rem;
}

/* conteudo - tracks */
.tracks {
    width: 50%;
}

.tracks .title-tracks {
    margin-left: 20%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-text-primary);
}

.tracks .tracks-nav {
    margin: .5rem 0 0 20%;
    width: 80%;
    height: 16rem;
    overflow: auto;
}

.tracks .tracks-nav .tracks-item {
    width: 10rem;
    margin-right:  1rem;
    cursor: pointer;
    color: var(--cor-text-secondary);
    transition: all .2s linear;
    opacity: 0.5;
}

.tracks .tracks-nav .tracks-item:hover {
    color: var(--cor-text-primary);
    opacity: 1;
}

.tracks .tracks-nav .image {
    height: 10rem;
    width: 10rem;
    overflow: hidden;
}

.tracks .tracks-nav .image img {
    height: 100%;
}

.tracks .tracks-nav .info {
    margin-top: 1rem;
}

.tracks .tracks-nav .info .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tracks .tracks-nav .info .description {
    font-size: 1rem;
}